<div class="controls">
    <h2>Read photo first</h2>
    <md-input-container>
        <label>ID</label>
        <input ng-model="id" required>
    </md-input-container>
    <md-button ng-click="readPhoto()" class="md-primary md-raised" ng-disabled="!id">Read single photo</md-button>
    <h2>Then update it</h2>
    <md-input-container>
        <label>Album ID</label>
        <input ng-model="item.albumId">
    </md-input-container>
    <md-input-container>
        <label>Title</label>
        <input ng-model="item.title">
    </md-input-container>
    <md-input-container>
        <label>URL</label>
        <input ng-model="item.url">
    </md-input-container>
    <md-input-container>
        <label>Thumbnail url</label>
        <input ng-model="item.thumbnailUrl">
    </md-input-container>
    <md-button ng-click="savePhoto()" class="md-primary md-raised" ng-disabled="!item || !item.id">Save photo</md-button>
</div>
<pre class="result">
    {{result}}
</pre>