<div class="controls">
    <md-input-container>
        <label>Page</label>
        <input ng-model="page">
    </md-input-container>
    <md-input-container>
        <label>Limit</label>
        <input ng-model="limit">
    </md-input-container>
    <md-input-container>
        <label>ID</label>
        <input ng-model="id">
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="readAllPhotos()">Read all photos</md-button>
    <md-button class="md-primary md-raised" ng-click="readPhotos()">Read photos</md-button>
    <md-button class="md-primary md-raised" ng-click="readPhoto()">Read single photo</md-button>
</div>
<pre class="result">
    {{result}}
</pre>